html,
body{
  height: 100%;
}
body{
  @extend %lato-400;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.3;
  color: $default;
  background-color: $bg;
}
.main{
  flex-grow: 1;
}
img{
  object-fit: cover;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-wrapper{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  font-size: 35px;
  line-height: 39px;
  color: $title;
  text-align: center;
}

